<!DOCTYPE html>
<!-- Template by quackit.com -->
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Värmlandskällaren</title>
    <link rel="stylesheet" href="css/nationPub.css">
  </head>

  <body>		

    <header>
      <div class="innertube">
        <img src="logo.png" alt="Wermland" height="100px" align="middle">
      </div>
    </header>
    <hr>

    <div id="wrapper">

      <main>
      <div id="content">
        <div class="ordering">
          <section class="foodtable">
            <h1>{{ uiLabels.common }}</h1>
            <label v-for="menuitem in menu.common">
              <button class="commonbutton" :value="menuitem.label" onclick="foodSummary(value)">{{menuitem.label}}, {{menuitem.price}}:-</button>
            </label>
            <h1>{{ uiLabels.mains }}</h1>
            <label v-for="menuitem in menu.foods">
              <button class="uncommonbutton" :value="menuitem.label" onclick="foodSummary(value)">{{menuitem.label}}, {{menuitem.price}}:-</button>
            </label>
            <h1>{{ uiLabels.sideorders }}</h1>
            <label v-for="menuitem in menu.sideorders">
              <button class="uncommonbutton" :value="menuitem.label" onclick="foodSummary(value)">{{menuitem.label}}, {{menuitem.price}}:-</button>
            </label>
            <h1>{{ uiLabels.drinks }}</h1>
            <label v-for="menuitem in menu.drinks">
              <button class="drinkbutton" :value="menuitem.label" onclick="foodSummary(value)">{{menuitem.label}}, {{menuitem.price}}:-</button>
            </label>
            <hr>
            <div id="summary">
              <h1>Beställning:</h1>
              <!--Här ska "boxen" med orders vara-->
              <ul id="foodlist"></ul>

              <ul id="drinklist"></ul>
            </div>
            <button class="commonbutton" v-on:click="placeOrder()">{{ uiLabels.placeOrder }}</button>
          </section>

          <aside>
            <div class="ordering">
              <h1>Köket</h1>
              <h2>{{ uiLabels.ordersInProgress }}</h2>
              <ol>
                <li v-for="(item, key) in orders" v-if="!item.done"> {{ key }} : {{ item.orderItems.join(', ') }}</li>
              </ol>
              <h2>{{ uiLabels.ordersFinished }}</h2>
              <ol>
                <li v-for="(item, key) in orders" v-if="item.done"> {{ key }} : {{ item.orderItems.join(', ') }}</li>
              </ol>
            </div>
          </aside>
        </div>
      </div>
      </main>
    </div>
    <div class="footer">
      <hr>
      <p>&copy Ruccola 2017</p>
    </div>  


    <script src="/vue/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/nationPub.js"></script>
    <script src="js/diner.js"></script>
  </body>
</html>
