<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Värmlandskällaren</title>
    <link rel="stylesheet" href="css/nationPub.css">
  </head>

  <body>		

    <header>
      <div class="innertube">
        <img src="logo.png" alt="Wermland" height="100px" align="middle">
      </div>
    </header>
    <hr>

    <div id="wrapper">

      <main>
      <div id="content">
        <div class="ordering">
          <section class="foodtable">
            <div id="commonfood">
            <h1>{{ uiLabels.common }}</h1>
            <label v-for="menuitem in menu.common">
              <button class="commonbutton" :value="menuitem.label +  '|' + menuitem.price" onclick="foodSummary(value)">{{menuitem.label}}, {{menuitem.price}}:-</button>
            </label>
            </div>
            <hr>

            <h1>{{ uiLabels.mains }}</h1>
            <label v-for="menuitem in menu.foods">
              <button class="uncommonbutton" :value="menuitem.label + '|' + menuitem.price" onclick="foodSummary(value)">{{menuitem.label}}, {{menuitem.price}}:-</button>
            </label>
            <hr>
            <h1>{{ uiLabels.sideorders }}</h1>
            <label v-for="menuitem in menu.sideorders">
              <button class="uncommonbutton2" :value="menuitem.label + '|' + menuitem.price" onclick="foodSummary(value)">{{menuitem.label}}, {{menuitem.price}}:-</button>
            </label>
            <hr>
            <h1>{{ uiLabels.drinks }}</h1>
            <label v-for="menuitem in menu.drinks">
              <button class="drinkbutton" :value="menuitem.label + '|' + menuitem.price" onclick="foodSummary(value)">{{menuitem.label}}, {{menuitem.price}}:-</button>
            </label>
          </section>
            <div id="summary">
              <h1>Beställning:</h1>
              <!--Här ska "boxen" med orders vara-->
              <ul id="foodlist"></ul>

              <form id="form1" action="/action_page.php">
              <!--Extra: <input type="text" name="fname"><br>--!>
                Extra: <textarea></textarea>
              </form>

              <button class="orderbutton" v-on:click="placeOrder()">{{ uiLabels.placeOrder }}</button>
            </div>

            <aside>
              <div class="ordering">
                <h1>Köket</h1>
                <h2>Väntande beställningar</h2>
                <ol>
                  <li v-for="(item, key) in orders" v-if="!item.accepted"> {{ key }} : {{ item.orderItems.join(', ') }}</li>
                </ol>
                <h2>Accepterade beställningar</h2>
                <ol>
                  <li v-for="(item, key) in orders" v-if="item.accepted && !item.done"> {{ key }} : {{ item.orderItems.join(', ') }}</li>
                </ol>
                <h2>Färdiga beställningar</h2>
                <ol>
                  <li v-for="(item, key) in orders" v-if="item.done"> {{ key }} : {{ item.orderItems.join(', ') }}</li>
                </ol>
              </div>
            </aside>
        </div>
      </div>
      </main>
    </div>
    <div class="footer">
      <hr>
      <p>&copy Ruccola 2017</p>
    </div>  


    <script src="/vue/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/nationPub.js"></script>
    <script src="js/diner.js"></script>
  </body>
</html>
