body {
  min-height:100%; 
  margin:0;
  padding:0;
  /*padding-bottom: 50px; /* sticky footer*/
  color: #404040;
  font-size: inherit;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family : "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 1.5em;
}

button.commonbutton {
  height: 80px;
  font-size: 22px;
}

button.uncommonbutton {
  height: 60px;
  font-size: 20px;
}

button.drinkbutton {
  /*width: 120px;*/
  height: 50px;
  font-size: 14px;
}

header {
  height: 100px;
  text-align: center;
}

header h1 {
  margin: 0;
  padding-top: 15px;
  padding-left: 15px;
}

section {
  padding-bottom: 10px;
  float: left;
  width: 65%%;
  margin-left:5%;
  margin-right:30%;
}

aside {
  /*padding-bottom: 10010px;
  margin-bottom: -10000px;
   */
  float: right;
  width: 25%;

  margin-left: -70%;
  margin-right:5%;
  color:#FFFFFF;
  background: #404040;
  height: 100%;
}


#wrapper {
  overflow: hidden;
  padding-bottom: 50px;
}



.ordering {
  margin: 15px; /* Padding for content */
  margin-top: 0;
}

.foodtable {
  border-spacing: 25px;
  background: #FFFFFF;
  padding-left: 25px;
}

#orderlist{
  border-spacing: 25px;
  background: #F9F9F9;

}

.footer {
  height:50px;
  position: relative;
  margin-top: -50px; /* sticky footer*/
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size:10pt;
}
