body {
  min-height:100%; 
  margin:0;
  padding:0;
  /*padding-bottom: 50px; /* sticky footer*/
  color: #404040;
  font-size: inherit;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family : "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 1.5em;
}


button{
  transition-duration: 0.4s;
  background-color: #8CAF80; /* Green */
  border: 2px solid #404040;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 60px;
  width: 200px;
  margin: 4px 2px;
}

button.commonbutton {
  background-color: #9cc99c; /* Green */
}

button.commonbutton:hover {
  background-color: #66ff66; /* Green */
}

button.uncommonbutton {
  background-color: #59a6a6;
}
button.uncommonbutton:hover {
  background-color: #00ffff;
}
button.uncommonbutton2 {
  background-color: #c99cc9;
}
button.uncommonbutton2:hover {
  background-color: #ff66ff;
}

button.drinkbutton {
  background-color: #c9c99c;
}
button.drinkbutton:hover {
  background-color: #ffff66;
}

button.orderbutton {
  background-color: #cccccc;
}
button.orderbutton:hover {
  background-color: #ffffff;
}


header {
  height: 100px;
  text-align: center;
}

header h1 {
  margin: 0;
  padding-top: 15px;
  padding-left: 15px;
}

section {
  padding-bottom: 10px;
  float: left;
  width: 50%;
  margin-left: 5%;
  border: 1px solid #999;
  border-bottom-width: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
}
section.kitchen {
  width: 40%;
}

aside {
  /*padding-bottom: 10010px;
  margin-bottom: -10000px;
   */
  float: left;
  width: 20%;
  height: 100%;

  border: 1px solid #999;
  border-bottom-width: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
}

#accepted{
  padding: 15px;
  float:left;
  width:30%;
  height: 100%;
}

#summary{
  padding: 15px;
  float:left;
  width:20%;
  height: 100%;

}


#wrapper {
  overflow: hidden;
  padding-bottom: 50px;
}



.ordering {
  margin: 15px; /* Padding for content */
  margin-top: 0;
}

.foodtable {
  border-spacing: 25px;
  background: #FFFFFF;
  padding-left: 25px;
  padding: 10px;
}

#orderlist{
  border-spacing: 25px;
  background: #F9F9F9;

}


.footer {
  height:50px;
  position: relative;
  margin-top: -50px; /* sticky footer*/
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size:10pt;
}
